
/* - Global styles */

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.02em;
    background-color: #fff;
    color: #2E2F42;
    /* height: 100%; */
}

/* - --- Header */

.header {
    /* height: 72px;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
    padding: 24px 0; */
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    /* padding-left: 156px; */
}

.accent {
    color: #4D5AE5;
}

.nav-list {
    list-style-type: none;
    /* padding: 0px;
    gap: 40px; */
}

.nav-item {
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
}

.nav-item:hover {
    color: #4D5AE5;;
}

.nav-item:focus {
    color: #434455;
}

.header-conts {
    list-style-type: none;
}

.tel-mail {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.tel-mail:hover, .tel-mail:focus {
    color: #4D5AE5;
}

.no-dots {
    list-style-type: none;
}

/* Main */

.hero {
    background: #2E2F42;
    font-weight: 600;
    font-size: 56px;
    line-height: 107%;
    text-align: center;
    color: #FFFFFF;
}

.order-btn {
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    cursor: pointer;
}

.order-btn:hover {
    background: #404BBF;
}

.card-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
}

.sect-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1111;
}

.our-team {
    background: #F4F4FD;
}

.teammember {
    background: #FFFFFF;
    width: 264px;
    height: 380px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

/* Footer */

.footer {
    background: #2E2F42;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
    text-decoration: none;
}



/* Portfolio styles */

.filter-btn {
    background: #F4F4FD;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    color: #4D5AE5;
    text-align: center;
    letter-spacing: 0.04em;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.filter-btn:hover {
    background: #4D5AE5;
    color: #FFFFFF;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.proj-cards {

}

.port-item-noimg {
    width: 360px;
    height: 300px;
    background: #4D5AE5;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
}







/* nav {
    text-decoration: none;
} */

/* .logo {
    width: 71px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
  
    
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    padding-left: 156px;

    
    
}



a {
    text-decoration: none;
}

.nav-list {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
    
        position: absolute;
        width: 261px;
        height: 24px;
        left: 348px;
        top: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    list-style: none;
}

 */



