
/* Global styles */

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    height: 100%;
    /* width: 1440px;
    height: 2593px; */
}

/* Header */

header {
    height: 72px;
    padding: 24px 0;
}

/* Main */

/* Footer */



/* Portfolio styles */

.filter-btn {

}

.port-item-noimg {
    width: 360px;
    height: 300px;
    background: #4D5AE5;
}







/* nav {
    text-decoration: none;
} */

/* .logo {
    width: 71px;
    height: 24px;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
    text-decoration: none;
    padding-left: 156px;

    
    
}

.accent {
    color: #4D5AE5;
}

a {
    text-decoration: none;
}

.nav-list {
    display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
    
        position: absolute;
        width: 261px;
        height: 24px;
        left: 348px;
        top: 0;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;

    letter-spacing: 0.02em;

    color: #2E2F42;
    text-decoration: none;
    list-style: none;
}

.nav-item {
    text-decoration: none;
} */



